## 1. Complete the following code to find the area of an equilateral triangle. Output should be as displayed

In [ ]:
import math
side = float("Enter the side of the equilateral triangle: ")
area = ((math.sqrt(3))/4)*pow(side,2)

Enter the side of the equilateral triangle: 4
Area =  6.928

## 2. Write a program to count the number of each characters in a string

In [13]:
string=input('enter a string: ')
count={}
for i in string:
  if i in count:
    count[i] += 1
  else:
    count[i] = 1

print('count of characters in a string: \n',str(count))

enter a string: malayalam
count of characters in a string:
 {'m': 2, 'a': 4, 'l': 2, 'y': 1}

## Write a program to find the area and perimeter of a rectangle using functions

In [ ]:
def area ():
  area=length*breadth
  return area

def perimeter():
  perimeter=2*(length+breadth)
  return perimeter

length=int(input('enter the length of the rectangle: '))
breadth=int(input('enter the breadth of the rectangle: '))
result=area()
print('area = ',result)
result_1=perimeter()
print('perimeter = ',result_1)

enter the length of the rectangle: 5
enter the breadth of the rectangle: 3
area =  15
perimeter =  16

## 4. Write a program to print the fibonacci series till a specified number

In [ ]:
def fib(n):
  n1=0
  n2=1
  if n==1:
    print(n1)
  else:
    print(n1)
    print(n2)
    for i in range(2,n):
      n3=n1+n2
      n1=n2
      n2=n3
      print(n3)


n=int(input('enter the limit: '))
print('fibnocci series are: ')
result=fib(n)
print(result)

enter the limit: 20
fibnocci series are:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
None

## 5. Complete the following code to find the minimum of 3 number using cinditional statements. Output should be as displayed

In [ ]:
a,b,c = input("Enter three numbers followed by  : ").split()

print("First number :",a)
print("Second number :",b)
print("Third number :",c)

    print("Entered numbers are equal!!!")

    print(a," is smallest")

    print(b," is smallest")

    print(c," is smallest")

In [ ]:
a,b,c = input("Enter three numbers followed by space : ").split()

print("First number :",a)
print("Second number :",b)
print("Third number :",c)

    print("Entered numbers are equal!!!")

    print(a," is smallest")

    print(b," is smallest")

    print(c," is smallest")

Enter three numbers followed by  : 3 -11 12
First number : 3
Second number : -11
Third number : 12
-11  is smallest

## 6. Write a program to print star pyramind. The number of rows should be taken as input from the user

In [ ]:
def pyramid(n):
  for i in range(0,n):
    for j in range(0,i+1):
      print('*',end=' ')
    print('')

n=int(input('enter the number of rows: '))
result=pyramid(n)
print(result)

enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *
None

## 7. Complete the following code to convert hour into seconds. Output should be as displayed

In [ ]:
def to_seconds(t):
    
    return t
time_in_hours = 
print(time_in_hours ," Hour is equal to" ,to_seconds(time_in_hours) ," Seconds")

Enter time in Hours :12
12  Hour is equal to 43200  Seconds

## 8. Write a program to print multiplication table as below

In [1]:
num=int(input('enter the number: '))
print('multiplication table: ')
for i in range(1,11):
  print(num,'x',i,'=' ,num*i)

enter the number: 4
multiplication table:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

## 9. Write a program to take your 5 favorite food as list and print each as 'I like Biriyani'

In [6]:

food=input('enter your five favorite foods: ').split()
for i in food:
  print('I like ',i)

enter your five favorite foods: biriyani rice dosa manthi porota
I like  biriyani
I like  rice
I like  dosa
I like  manthi
I like  porota

## 10. Find error(s) in the following code(if any) and rewrite code.

In [11]:
x=int(input("enter the value of x: "))
for y in range(0,10):
  if x==y:
     print("They are equal")
  else:
     print("They are unequal")

enter the value of x: 5
They are unequal
They are unequal
They are unequal
They are unequal
They are unequal
They are equal
They are unequal
They are unequal
They are unequal
They are unequal